body {
  background-color: #EEE;
  color: #555;
  font-family: 'Marcellus';
  letter-spacing: 0.7px;
  margin: 0 auto;
  width: 724px;
}

nav {
  background-color: #444;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  width: 724px;
}

nav ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

nav ul li {
  color: #399CC6;
  display: inline;
  line-height: 70px;
  margin: 0 30px 0 30px;
  vertical-align: top;
}

#name {
  color: #C0E9FA;
  display: inline;
  font-size: 40px;
  height: 70px;
  line-height: 70px;
  margin: 0 20px 0 20px;
}

nav ul li a, nav ul li a:visited {
  color: #399CC6;
  text-decoration: none;
  vertical-align: top;
}

nav ul li a:hover {
  color: white;
}

.content {
  margin-top: 70px;
  padding-top: 30px;
  text-align: center;
}

.social {
  margin: 100px 100px auto;
  padding-bottom: 75px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.social a {
  color: inherit;
  text-decoration: none;
}

.social i {
  margin: 25px 25px;
}