body {
  background-color: #EEE;
  color: #555;
  font-family: 'Marcellus';
  letter-spacing: 0.7px;
  margin: 0;
}

.container {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  width: 724px;
  margin: 0 auto;
}

nav {
  background-color: #444;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 724px;
  text-align: center;
}

nav a {
  color: #399CC6;
  display: inline;
  line-height: 50px;
  margin: 0 50px;
  text-decoration: none;
  width: 150px;
  vertical-align: top;
}

nav a, nav a:visited {
  color: #399CC6;
  text-decoration: none;
  vertical-align: top;
}

nav a:hover {
  color: white;
}

.content {
  margin: 0 auto;
  padding: 5px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  text-align: center;
  width: 724px;
}

.content h1 {
  margin: 10px 0;
}

.content p {
  font-size: 25px;
  margin: 0;
}

.feature {
  display: inline;
  float: left;
  margin-left: -2px;
  margin-right: -2px;
  width: 33%;
}

.feature:first-child {
  border-left: none;
  border-right: 2px solid gray;
}

.feature:nth-child(2) {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  margin-left: 0;
  margin-right: -2px;
}

.feature:last-child {
  border-left: 2px solid gray;
  border-right: none;
  margin-left: 0;
}

.feature h2 {
  text-align: center;
}

.feature p {
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}

#about {
  font-size: 18px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: left;
  width: 660px;
}

#about:first-child {
  margin-top: 30px;
}

#thanks {
  font-size: 21px;
  text-align: left;
  margin: 0 auto;
  width: 660px;
}

.social {
  margin: 0 100px 0 100px auto;
  position: absolute;
  top: 660px;
  left: 0;
  right: 0;
  text-align: center;
}

.social a {
  color: inherit;
  text-decoration: none;
}

.social a i:hover {
  color: #399CC6;
}

.social i {
  margin: 35px 35px;
}
